/* Write your CSS here */
.app-team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.team-matches-container {
  width: 90%;
  margin-top: 40px;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .team-matches-container {
    margin-top: 56px;
    max-width: 1110px;
  }
  .recent-matches-list {
    margin-top: 32px;
  }
}
.team-banner {
  width: 100%;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.RCB {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.KKR {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.KXP {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.CSK {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.RR {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.MI {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.SH {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.DC {
  background: linear-gradient(to top, #1e293b, #a4261d);
}
.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .recent-matches-list {
    padding-left: 0px;
  }
}
